$mainColor: #4ec9b9;
$accentColor: #b15e74; 
$hoverColor: #9d3d56;

// mixins
@mixin absolute-position( $top:auto, $bottom:auto, $right:auto, $left:auto, $width:auto ){
    width: $width;
    top: $top;
    bottom: $bottom;
    right: $right;
    left: $left;
}

body{
    margin: 0;
    background-color: $mainColor;
}

*{
    box-sizing:border-box;
}

.keyboard{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 1px;
    background-color: $accentColor;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: 0 auto;
    padding: 10px;
}
button, input[type=button]{
    border: 2px solid #b42d51;
    background-color: $accentColor;
    text-align: center;
    align-items: center;
    border-radius: 7px;
    padding: 20px 0;
    box-shadow: 3px 3px 5px inset white;
    cursor: pointer;
}

button:hover, input[type=button]:hover{
    background-color: $hoverColor;
}

.background-img{
    width: 100%;
}
main{
    width: 60%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    border: 5px solid #139f8f;

    main p{
        padding: 0 5px;
    }
}

.pop-up{
    position: absolute;
    @include absolute-position(0, 0, 0, 0, null);
    background-color: rgba(78, 201, 185, 0.9);
}
.overlay{
    margin-top: 30%;
    transform: translate(0, -50%);

    img{
        width: 100%;
        max-width: 500px;
    }
    input[type=button]{
        width: 150px;
    }
}

#captain{
    position: absolute;
    @include absolute-position(10%, null, 10px, null, 50%);
    max-width: 400px;
}
#aligator{
    position: absolute;
    @include absolute-position(30%, null, null, 0, 40%);
    max-width: 500px;
}
#aligator-captain{
    position: absolute;
    @include absolute-position(1%, null, 0, 0, 30%);
    margin: auto;
    text-align: center;
}
#secret-word{
    display: flex;
    justify-content: center;

    div{
        border-bottom: 2px solid black;
        width: 30px;
        height: 30px;
        padding: 5px;
        margin: 5px;
        font-weight: bold;
    }
}

h1{
    background-color: $accentColor;
    margin: 0;
    padding: 10px 10px;
    text-align: center;
    color: white;
}

.hide{
    display: none;
}

@media only screen and (max-width: 1030px) { 
    main{
        width: 100%;
        margin: 0 auto;
        border: none;
    }
    .background-img{
        height: 500px;
        overflow: hidden;
    }
    #aligator{
        top: 30%;
    }
    #captain{
        top: 15%;
    }
    .keyboard{
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    }
    .overlay img{
        width: 80%;
    }
}

@media only screen and (max-width: 700px) { 
    #aligator-captain{
        width: 40%;
    }
    .background-img{
        height: 400px;
        overflow: hidden;
    }
}
@media only screen and (max-width: 450px) { 
    .background-img{
        height: 300px;
        overflow: hidden;
    }
}